*{
    margin: 0;
    padding: 0;
}
.img-fluid{
    border: 0px solid red;
    width: 100%;
    height: 300px;
}
.card{
    border: 0px solid blue;
    height: 500px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px 20px 0px 0px;
}
.bit{
    display: none;
}

.color_chnage li a{
    color: black;
    font-size: 19px;
}